/Section1/ch3-deep-neural-network/data/
/Section1/ch3-deep-neural-network/fashionMNIST/
/Section2-ObjectClassificationAndDetection/ch8-BasicObjectDetection/data/
/Section2-ObjectClassificationAndDetection/Ch4-ConvolutionNeuralNetwork/data/
/Section2-ObjectClassificationAndDetection/Ch4-ConvolutionNeuralNetwork/cats_and_dogs_classification/
/Section2-ObjectClassificationAndDetection/ch5-TransferLearning/data/
/Section2-ObjectClassificationAndDetection/ch6-PracticalAspects/data/
